In [175]:
import pandas as pd
from datamatch import (
    JaroWinklerSimilarity,
    ThresholdMatcher,
    ColumnsIndex,
)

In [176]:
def read_data():
    df = pd.read_csv("../data/OK/aggregate_members_oathkeepers_cleaned.csv")
    return df

In [177]:
dfa = read_data()

In [178]:
# dfa.state.unique()

In [179]:
def standardize_state(df):
    df.loc[:, "state"] = df.state.str.replace(r"N\.Y\.", "NY", regex=True)\
        .str.replace(r"^ (\w+)", r"\1", regex=True)\
        .str.replace(r"(\w+) $", r"\1", regex=True)\
        .str.replace(r"NY(.+)", "NY", regex=True)
    return df

In [180]:
dfa = dfa.pipe(standardize_state)
dfa = dfa.fillna("")

In [181]:
dfa = dfa[dfa.state.isin(["NY"])]
dfa.loc[:, "notes"] = dfa.notes.str.lower().str.strip()

In [182]:
search_1 = dfa[dfa.notes.str.contains("law enforcement")]
search_1

,id_number,group_name,bool,city,state,email,undefined_date,notes,first_name,middle_name,last_name
8303,6181,Annual,No,Rochester,NY,rickg@rochester.rr.com,,"certified firearms instructor, law enforcement...",frederick,,germain
20236,23623,Annual,No,West Islip,NY,Jmac4135@gmail.com,10/5/2013,my speciality is law enforcement both civilian...,james,,macinness
31601,34237,Annual,No,White Plains,NY,Sudsboy@AOL.com,42512.64059,am current on political topics and want to see...,brian,j,mckenna
31622,34258,Annual,No,locust Valley,NY,ChrisHDman62@gmail.com,42514.75483,"i'm a registered nurse, certified law enforcem...",christopher,,albin
32399,35045,Annual,No,Maspeth,NY,stevenszymczak@aol.com,42639.80369,i have both army and law enforcement experience.,steven,,szymczak

In [183]:
search_2 = dfa[dfa.notes.str.contains("nypd")]
search_2

,id_number,group_name,bool,city,state,email,undefined_date,notes,first_name,middle_name,last_name
13255,11361,Annual,No,Middletown,NY,harleylady2764@hotmail.com,12/28/2011,current nypd hwy unit,marilyn,,trapapnotto

In [184]:
search_3 = dfa[dfa.email.str.contains("nypd")]
search_3

,id_number,group_name,bool,city,state,email,undefined_date,notes,first_name,middle_name,last_name
22148,25581,Annual,No,Mabopac,NY,nypdcopin02@yahoo.com,1/18/2014,"field force operations, incident management, r...",stuart,,wohl

In [185]:
search_4 = dfa[dfa.notes.str.contains("police")]
search_4

,id_number,group_name,bool,city,state,email,undefined_date,notes,first_name,middle_name,last_name
6509,4308,Annual,No,Youngstown,NY,pthomason84@yahoo.com,,"ive noticed from being here in iraq, that war ...",paul,,thomason
6719,4542,Annual,No,Horseheads,NY,dtownsend2@stny.rr.com,,19 3/4 yrs police officer. 7 years as polic...,david,,townsend
10712,8719,Annual,No,West Clarksville,NY,gmaker@stny.rr.com,,i am currently traveling our nation as a membe...,gordon,,maker
11020,9033,Annual,No,Martville,NY,ed@historicalrestorations.com,,organizing likeminded others in my area. i bel...,edward,,dehors
12165,10215,Annual,No,Horseheads,NY,dtownsend2@stny.rr.com,5/3/2011,was injured in 1999 and sustained a low-back i...,david,c,townsend
13553,11670,Annual,No,Far Rockaway,NY,Bobbyfalc28127@aol.com,1/29/2012,the lieutenants and sergeants supervise the po...,robert,c,falcone
13776,11896,Annual,No,Arkville,NY,jste64@aol.com,2/26/2012,mptc certified agency instructor basic/general...,john,c,steketee
16135,19414,Annual,No,Amsterdam,NY,splitt84th@yahoo.com,1/16/2013,"(army) weapons specialist, drill sergeant, hea...",erwin,h,splittgerber jr
16158,19437,Annual,No,Phoenix,NY,pdc4113@gmail.com,1/16/2013,i was a senior firearms instructor for the sta...,paul,d,calderwood
17638,20940,Annual,No,Middletown,NY,wosullivan@hvc.rr.com,2/28/2013,i did not serve in the military but respect al...,william,m,o'sullivan
18053,21359,Annual,No,milford,NY,joe@marmorato.com,3/26/2013,"pistol shooting, police street tactics, drivin...",joseph,,marmorato
29903,32511,Annual,No,Lake Luzerne,NY,high_rolla_custom@yahoo.com,42278.80979,i own a small business called high rolla custo...,sean,,o'brien
30202,32823,Annual,No,Ronkonkoma,NY,donohuejw@aol.com,42312,nyc housing police patrol 1973-1994,james,w,donohue
30335,32959,Annual,No,Woodside,NY,spb105@gmail.com,42331.97891,", , i spent 10 years as a tv news reporter. ...",sean,,bergin
31436,34072,Annual,No,Schroon Lake,NY,rmessing1@nycap.rr.com,42475.95356,"police skills, survival skills (attended usaf ...",ronald,a,messing
31547,34183,Annual,No,"Barryville, NY 12719",NY,msumma51@hvc.rr.com,42501.48286,educating a civilian populace as to the value ...,michael,m,summa
31940,34582,Annual,No,Adams,NY,jbscout2002@yahoo.com,42554.01736,"i will not do anything illegal, but i will pro...",joshua,,brewer
32088,34731,Annual,No,Tuckahoe,NY,gam819@aol.com,42568.68007,able to attend and participate in meeting and ...,jerry,,moran
36143,34731,Annual,No,Tuckahoe,NY,gam819@aol.com,42568.68007,able to attend and participate in meeting and ...,jerry,,moran

In [186]:
dfs = [search_1, search_2, search_3, search_4]
dfb = pd.concat(dfs, axis=0)
dfb

,id_number,group_name,bool,city,state,email,undefined_date,notes,first_name,middle_name,last_name
8303,6181,Annual,No,Rochester,NY,rickg@rochester.rr.com,,"certified firearms instructor, law enforcement...",frederick,,germain
20236,23623,Annual,No,West Islip,NY,Jmac4135@gmail.com,10/5/2013,my speciality is law enforcement both civilian...,james,,macinness
31601,34237,Annual,No,White Plains,NY,Sudsboy@AOL.com,42512.64059,am current on political topics and want to see...,brian,j,mckenna
31622,34258,Annual,No,locust Valley,NY,ChrisHDman62@gmail.com,42514.75483,"i'm a registered nurse, certified law enforcem...",christopher,,albin
32399,35045,Annual,No,Maspeth,NY,stevenszymczak@aol.com,42639.80369,i have both army and law enforcement experience.,steven,,szymczak
13255,11361,Annual,No,Middletown,NY,harleylady2764@hotmail.com,12/28/2011,current nypd hwy unit,marilyn,,trapapnotto
22148,25581,Annual,No,Mabopac,NY,nypdcopin02@yahoo.com,1/18/2014,"field force operations, incident management, r...",stuart,,wohl
6509,4308,Annual,No,Youngstown,NY,pthomason84@yahoo.com,,"ive noticed from being here in iraq, that war ...",paul,,thomason
6719,4542,Annual,No,Horseheads,NY,dtownsend2@stny.rr.com,,19 3/4 yrs police officer. 7 years as polic...,david,,townsend
10712,8719,Annual,No,West Clarksville,NY,gmaker@stny.rr.com,,i am currently traveling our nation as a membe...,gordon,,maker
11020,9033,Annual,No,Martville,NY,ed@historicalrestorations.com,,organizing likeminded others in my area. i bel...,edward,,dehors
12165,10215,Annual,No,Horseheads,NY,dtownsend2@stny.rr.com,5/3/2011,was injured in 1999 and sustained a low-back i...,david,c,townsend
13553,11670,Annual,No,Far Rockaway,NY,Bobbyfalc28127@aol.com,1/29/2012,the lieutenants and sergeants supervise the po...,robert,c,falcone
13776,11896,Annual,No,Arkville,NY,jste64@aol.com,2/26/2012,mptc certified agency instructor basic/general...,john,c,steketee
16135,19414,Annual,No,Amsterdam,NY,splitt84th@yahoo.com,1/16/2013,"(army) weapons specialist, drill sergeant, hea...",erwin,h,splittgerber jr
16158,19437,Annual,No,Phoenix,NY,pdc4113@gmail.com,1/16/2013,i was a senior firearms instructor for the sta...,paul,d,calderwood
17638,20940,Annual,No,Middletown,NY,wosullivan@hvc.rr.com,2/28/2013,i did not serve in the military but respect al...,william,m,o'sullivan
18053,21359,Annual,No,milford,NY,joe@marmorato.com,3/26/2013,"pistol shooting, police street tactics, drivin...",joseph,,marmorato
29903,32511,Annual,No,Lake Luzerne,NY,high_rolla_custom@yahoo.com,42278.80979,i own a small business called high rolla custo...,sean,,o'brien
30202,32823,Annual,No,Ronkonkoma,NY,donohuejw@aol.com,42312,nyc housing police patrol 1973-1994,james,w,donohue
30335,32959,Annual,No,Woodside,NY,spb105@gmail.com,42331.97891,", , i spent 10 years as a tv news reporter. ...",sean,,bergin
31436,34072,Annual,No,Schroon Lake,NY,rmessing1@nycap.rr.com,42475.95356,"police skills, survival skills (attended usaf ...",ronald,a,messing
31547,34183,Annual,No,"Barryville, NY 12719",NY,msumma51@hvc.rr.com,42501.48286,educating a civilian populace as to the value ...,michael,m,summa
31940,34582,Annual,No,Adams,NY,jbscout2002@yahoo.com,42554.01736,"i will not do anything illegal, but i will pro...",joshua,,brewer
32088,34731,Annual,No,Tuckahoe,NY,gam819@aol.com,42568.68007,able to attend and participate in meeting and ...,jerry,,moran
36143,34731,Annual,No,Tuckahoe,NY,gam819@aol.com,42568.68007,able to attend and participate in meeting and ...,jerry,,moran

In [187]:
def read_misconduct_data():
    df = pd.read_csv("../data/NY/CCRB Complaint Database Raw 04.20.2021.csv")
    return df

In [ ]:
dfc = read_misconduct_data()

In [189]:
dfc = dfc.rename(columns={"LastName": "last_name", "FirstName": "first_name"})

In [190]:

def match_ok_names_to_personnel(ok, agency):
    dfa = ok[["first_name", "last_name"]]
    dfa.loc[:, "first_name"] = dfa.first_name.str.lower().str.strip()
    dfa.loc[:, "last_name"] = dfa.last_name.str.lower().str.strip()


    dfb = agency[["first_name", "last_name"]]
    dfb.loc[:, "first_name"] = dfb.first_name.str.lower().str.strip()
    dfb.loc[:, "last_name"] = dfb.last_name.str.lower().str.strip()

    matcher = ThresholdMatcher(
        ColumnsIndex([]),
        {
            "first_name": JaroWinklerSimilarity(),
            "last_name": JaroWinklerSimilarity(),
        },
        dfa,
        dfb,
    )
    decision = 0.800
    matcher.save_pairs_to_excel(
        ("../data/NY/oathkeeper_names_v_ny_misconduct_data.xlsx"), decision
    )
    return matcher

In [ ]:
match = match_ok_names_to_personnel(dfb, dfc)

In [192]:
def read_matches():
    df = pd.read_excel("../data/NY/oathkeeper_names_v_ny_misconduct_data.xlsx")
    return df

In [193]:
matches = read_matches()

In [194]:
matches

   score_range  pair_idx  sim_score  row_key   first_name        last_name
0    1.00-0.95       0.0   0.992453    13255      marilyn      trapapnotto
1          NaN       NaN        NaN   129227      marilyn       trapanotto
2          NaN       1.0   0.985114    17638      william       o'sullivan
3          NaN       NaN        NaN   182521      william        osullivan
4          NaN       2.0   0.978806    29903         sean          o'brien
5          NaN       NaN        NaN   256530         sean           obrien
6          NaN       3.0   0.975320     6509         paul         thomason
7          NaN       NaN        NaN   265339         paul         thompson
8          NaN       4.0   0.954475    10712       gordon            maker
9          NaN       NaN        NaN   121744       gordon              mak
10   0.95-0.90       0.0   0.930585    11020       edward           dehors
11         NaN       NaN        NaN   279358       edward         decorsia
12         NaN       1.0   0.927273    16158         paul       calderwood
13         NaN       NaN        NaN   271112         paul         calandro
14         NaN       2.0   0.920016    31622  christopher            albin
15         NaN       NaN        NaN    34012   christophe          alikhan
16         NaN       3.0   0.907998    13776         john         steketee
17         NaN       NaN        NaN   116666         john           stevko
18         NaN       4.0   0.900651    30335         sean           bergin
19         NaN       NaN        NaN   256529         sean           obrien
20   0.90-0.85       0.0   0.885401    31436       ronald          messing
21         NaN       NaN        NaN   175732       ronald             moss
22         NaN       1.0   0.884189    31940       joshua           brewer
23         NaN       NaN        NaN    79815       joseph           breder
24         NaN       2.0   0.883547     8303    frederick          germain
25         NaN       NaN        NaN   269460    frederick           martin
26         NaN       3.0   0.863134    36143        jerry            moran
27         NaN       NaN        NaN   275406        jerry           sodano
28         NaN       4.0   0.863134    32088        jerry            moran
29         NaN       NaN        NaN   275405        jerry           sodano
30   0.80-0.75       0.0   0.794114    16135        erwin  splittgerber jr
31         NaN       NaN        NaN   256834        erwin            valle

In [195]:
# Marilyn Trapanotto claims to be apart of the NYPD HWY Unit in the OK database
# There is a Marilyn Trapanotto, with the HWY unit, who received an allegation of misconduct